
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>contacts3</title>
  </head>
  <body>
    <div id="content">
      <h1>Witamy w serwisie contacts3!</h1>
      <table>
        <tr th:each="contact: ${contacts}">
          <td th:text="${contact.firstName}"></td>
          <td th:text="${contact.lastName}"></td>
          <td th:text="${contact.email}"></td>
          <td th:text="${contact.phone}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
